<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="/public/assets/css/global.css">
    <script src="index.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="page__header">
        <div class="logo">
            <i class="fa-solid fa-rocket"></i>
        </div>
        <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
            <i class="fa fa-bars"></i>
        </a>
        <div id="navigation-var" class="nav-var">
            <a href=""><i class="fa-solid fa-house"></i></a>
            <a href=""><i class="fa-solid fa-newspaper"></i></a>
            <a href=""><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="header__right">
            <a class="button__logout" href=""><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </header>
    <div class="page__main">
        <div class="container__main">
            <div class="main__post">
                <input type="text" placeholder="Let's go a make a post ...">
                <button>Post</button>
            </div>
            <div class="main__card__post">
                <div class="card__post">
                    <div class="card__user">
                        <p>Anthonyx</p>
                        <p>20/12/24</p>
                    </div>
                    <div class="card__content">
                        <h3>Titulo post</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptate reprehenderit atque laudantium fugiat esse quos commodi, doloremque possimus
                            molestias, debitis maiores nam sunt tempora cupiditate, odio vitae saepe animi ex.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>